footer {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  clear: both;
  margin-top: 1em;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.inline-block {
  display: inline-block;
}

.header {
  margin: 3%;
}

.tab-content {
  margin: 5%;
}

#project-export {
  margin: 5%;
  display: block;
  width: 70%;
}

#project-export p {
  /*display: inline-block;*/
  width: inherit;
}

#project-json {
  width: 100%;
}

#project-published {
  margin: 2% 2% 2% 15%;
}

.section-head {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-header {
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}

.project-body {
 margin-left: 1.5em;
 margin-bottom: 1em;
}

.project-text {
  margin-left: 1.5em;
}
