.icon-menu {
  display: block;
  /*float:right;*/
  text-align: right;
  font-size: 2.5em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  font-size: 1.5em;
}

.content-center {
  display: flex;
  justify-content: center;
}

.facts {
  display: inline-block;
}

dt {
  display: inline-table;
  margin-bottom: .5em;
}

dd {
  display: inline-table;
  margin-bottom: .5em;
}

.project-date {
  font-family:'PT Sans Narrow';
}

#class-filter {
  font-size: 1em;
  color: #000080;
}

#published-label {
  font-size: 1.4em;
}

#github li {
  font-size: 1.2em;
}

#contact p {
  font-size: 1.25em;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 1.25em;
  font-family: 'Arimo';
}

.footer div {
  font-size: .5em;
  align-items: center;
}

@media only screen and (min-width:769px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav:hover ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav li {
    justify-content: space-around;
    padding: 0;
  }
}
