.icon-menu {
  display: inline-block;
  float:right;
  font-size: 2.5em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  font-size: 1.5em;
}

#profile-pic {
  display: flex;
  justify-content: center;
}

.facts {
  display: inline-block;
}

dt {
  display: inline-table;
}

dd {
  display: inline-table;
}

.project-name {

}

.project-date {
  font-family:'PT Sans Narrow';
}

.project-image {

}

.project-link {

}

.project-description {

}

#published-label {
  font-size: 1.4em;
}

#contact p {
  font-size: 1.25em;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 1.25em;
  font-family: 'Arimo';
}

.footer div {
  font-size: .5em;
  align-items: center;
}

@media only screen and (min-width:769px) {
  .icon-menu {
    visibility: hidden;
  }
  .main-nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav:hover ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav li {
    justify-content: space-around;
    padding: 0;
  }
}
