@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmqzf3');
  src:  url('fonts/icomoon.eot?vmqzf3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmqzf3') format('truetype'),
    url('fonts/icomoon.woff?vmqzf3') format('woff'),
    url('fonts/icomoon.svg?vmqzf3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notebook-text:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-google:before {
  content: "\ea88";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tumblr:before {
  content: "\eab9";
}
