.icon-menu {
  display: inline-block;
  float:right;
  font-size: 2em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  font-family: 'Arimo';
  font-size: 1.5em;
}

.project-header {
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline-block;
  width: 100%;
}

.project-body {
 margin-left: 1.5em;
}

.project-text {
  margin-left: 1.5em;
}

.project-name {

}

.project-date {
  font-family:'PT Sans Narrow';
}

.project-image {

}

.project-link {

}

.project-description {

}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 1.25em;
  font-family: 'Arimo';
}

.footer div {
  font-size: .5em;
  align-items: center;
}

@media only screen and (min-width:769px) {
  .icon-menu {
    visibility: hidden;
  }
  .main-nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav:hover ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .main-nav li {
    justify-content: space-around;
    padding: 0;
  }
}
